@{
    ViewData["Title"] = "Report Page";
}

<div class="main_container_block escorts_display_page"> 
    <div class="breadcums_block">
        <ol class="breadcrumb">
            <li><a href="/">Erotic Massage</a></li>
            <li class="active">Report Trafficking</li>
        </ol>
    </div>

    <div class="main_container_block escorts_profile_container">
        <h1 class="heading">Report Trafficking</h1>
        
<div class="common_page_container">



<h3>Please report any suspected sexual exploitation of minors and/or human trafficking to the appropriate authorities.</h3><br>
<p>United States:<p><br>

<ol class="unorder_list">
<li><a href="https://www.missingkids.org/HOME" target="_blank">National Center for Missing &amp; Exploited Children (NCMEC)</a></li>
<li><a href="https://report.cybertip.org/" target="_blank">CyberTipline</a> - report child exploitation </li>
<li>24-Hour Hotline: 1-800-843-5678 </li>
</ol>

<ol class="unorder_list">
<li><a href="http://www.polarisproject.org/index.php" target="_blank">Polaris Project - Report Human Trafficking</a>: 888-373-7888</li>
<li><a href="http://www.hhs.gov/" target="_blank">Dept. of Health &amp; Human Services</a>: 888-373-7888</li>
<li><a href="http://www.childrenofthenight.org/" target="_blank">Children of the Night</a>: 800-551-1300</li>
<li><a href="http://www.acenational.org/" target="_blank">ACE National</a>: 202-220-3019</li>
<li><a href="http://www.ice.gov/index.htm" target="_blank">Homeland Security Investigations Tip Line</a>: 866-DHS-2-ICE</li>
<li><a href="http://www.justice.gov/" target="_blank">Dept. of Justice</a>: 888-428-7581</li>
<li>FBI Office: <a href="http://www.fbi.gov/contact-us/field" target="_blank">http://www.fbi.gov/contact-us/field</a></li>
</ol>

<p>WARNING SIGNS OF POSSIBLE HUMAN TRAFFICKING:</p><br>
<ol class="unorder_list">
<li>Does an entertainer arrive accompanied by another individual?</li>
<li>Does that individual speak for or appear to maintain control over the entertainer?</li>
<li>Does the entertainer seem fearful of that individual?</li>
<li>Does the entertainer have difficulty communicating, whether resulting from a language barrier or fear of interaction?</li>
<li>Does the entertainer appear to be underage or close to underage?</li>
</ol>
<p>Use common sense, and contact the appropriate authorities if you suspect that someone is being trafficked.</p>

</div>

    </div>
</div>
